[Desktop Entry]
Type=Application
Name=tunlit
Comment=Share local ports through your own tunlit server
Exec=/usr/bin/tunlit gui %u
Icon=tunlit
Terminal=false
StartupWMClass=dev.tunlit.cli
MimeType=x-scheme-handler/tunlit;
Categories=Network;Utility;
