[Desktop Entry]
Type=Application
Name=tunlit
Comment=Open a tunlit share link
Exec=/usr/bin/tunlit connect %u
Terminal=true
NoDisplay=true
MimeType=x-scheme-handler/tunlit;
Categories=Network;
